/* BEM — Block Element Modifier */

.Card {
  background-color: lightgrey;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.Card--error {
  background-color: lightcoral;
}

.Card__title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.Card__question {
  font-size: 20px;
}

color: var(--color-primary);

.Card__content {
  font-family: monospace;
  display: flex;
  align-items: center;
}

.Card__answer {
  font-size: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

.Card__choice {
  display: flex;
  justify-content: space-around;
}

.Box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(208, 154, 17, 0.221);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
}

.boxSmall {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 100px;
  border: 2px solid rgba(212, 31, 11, 0.817);
  padding: 20px;
}
