/* BEM — Block Element Modifier */

.Card {
  border-radius: 1.25em;
  padding: 0.625em;
  margin-bottom: 0.625em;
  border: 5px solid rgba(174, 10, 73, 98.8%);
}

.Card__background {
  background-color: var(--bg-color-dark);
}

.Card__title {
  font-size: 2rem;
  margin: 35px;
  display: flex;
  justify-content: center;
}

.Card__question,
.Card__content {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
}

.button {
  display: flex;
  justify-content: center;
}

/* Antwort Button Anfang; muss noch bearbeitet werden!!! */
.btn {
  background-color: var(--bg-color-dark);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0.625em;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0.938em;
  padding: 0.625em;
  margin-bottom: 0.625em;
  margin-top: 0.625em;
  width: 6.25;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  background-color: white;
  min-width: 160px;
}

.visible {
  display: initial;
  background-color: white;
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

/* Antwort Button Ende */

.Card__choice {
  display: flex;
  justify-content: space-evenly;
  gap: 0.625em;
  flex-wrap: wrap;
}

.Box1 {
  background-color: var(--bg-color-bright);
  padding: 1.875em;
  margin-left: 18.75em;
  margin-right: 18.75em;
  margin-bottom: 10px;
  border: 2.5em solid;
  border-image: url(border.svg) 35% round;
}

.boxSmall {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 8.125em;
  border-radius: 0.625em;
  border: 0.125em solid rgba(210, 89, 24, 92.7%);
  padding: 0.938em;
  margin: 1.25em;
}

.Footer {
  background-color: var(--bg-color-dark);
  border-radius: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 35px;
  padding: 0.625em;
  position: sticky;
}

.Create1 {
  background-color: var(--bg-color-bright);
  margin-left: 18.75em;
  margin-right: 18.75em;
  margin-bottom: 0.625em;
  border: 2.5em solid;
  border-image: url(border.svg) 34% round;
  border-color: var(--bg-color-bright);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
