/* BEM — Block Element Modifier */

.Card {
  background-color: lightgrey;
  border-radius: var(--radius);
  padding: 10px;
}

.Card--error {
  background-color: lightcoral;
}

.Card__title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin: 20px;
}

.Card__question {
  font-size: 20px;
}

color: var(--color-primary);

.Card__content {
  font-family: monospace;
}
