.Create__container {
  background-color: var(--bg-color-bright);
  max-width: 768px;
  min-width: 450px;
  margin: 20px;
  margin-bottom: 0.625em;
  border: 3.5em solid;
  border-image: url(border.svg) 37.9% round;
  border-color: var(--bg-color-bright);
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  /* z-index: 0; */
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
